package $packageName;

import com.github.peacetrue.core.OperatorCapableImpl;
import lombok.Data;
import lombok.EqualsAndHashCode;

#foreach($property in $properties)
#if(!$property.typeName.startsWith('java.lang'))
import $property.typeName;
#end
#end

/**
 * ${comment}删除DTO
 * @author xiayx
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${name}DeleteDTO extends OperatorCapableImpl<String> {

#foreach($property in $properties)
    #if($idProperty==$property)
    /**$property.comment*/
    private $property.typeSimpleName $property.name;
    #end
#end
}
