<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/iview}">
<head>
    <title>${comment}详情</title>
    <link th:href="@{/detail/main.css}" rel="stylesheet">
    <script th:src="@{/detail/main.js}"></script>
</head>
<body>
<i-content layout:fragment="content">
    <detail :data="data" v-if="data.id">
        <row>
            #foreach($property in $properties)
                <detail-item label="${property.comment}" name="${property.name}"></detail-item>
            #end
        </row>
    </detail>
</i-content>
</body>
<script layout:fragment="script">
    let vue = new LayoutVue({
        data() {
            return {
                data: {},
            };
        },
        methods: {
            filter(data) {
                return data;
            },
        },
        created() {
            axios.get(`/${lowerName}?id=${this.location.params.get('id')}`)
                    .then(t => Vue.set(this, 'data', this.filter(t.data)));
        }
    });
</script>
</html>