package $packageName;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.security.core.context.SecurityContextHolder;
import org.springframework.stereotype.Controller;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.*;

/**
* @author xiayx
*/
@Controller
@RequestMapping("/${lowerCamelName}")
public class ${name}Controller {

private Logger logger = LoggerFactory.getLogger(getClass());

@Autowired
private ${name}Service ${lowerCamelName}Service;

/** 新增信息 */
@ResponseBody
@PostMapping
public String add(${name}AddDTO dto) {
logger.info("新增信息");
logger.debug("dto: {}", dto);
return ${lowerCamelName}Service.add(dto).getId();
}

/** 分页查询信息 */
@GetMapping
@ResponseBody
public Page<${name}VO> query(${name}QueryDTO dto, Pageable pageable) {
    logger.info("分页查询信息");
    logger.debug("dto: {}, pageable: {}", dto, pageable);
    return ${lowerCamelName}Service.query(dto, pageable);
    }

    /** 根据主键获取信息 */
    @ResponseBody
    @GetMapping(params = "id")
    public ${name}VO get(${name}GetDTO dto) {
    logger.info("获取信息");
    logger.debug("dto: {}", dto);
    return ${lowerCamelName}Service.get(dto);
    }

    /** 修改信息 */
    @ResponseBody
    @PutMapping
    public void modify(${name}ModifyDTO dto) {
    logger.info("修改信息");
    logger.debug("dto: {}", dto);
    ${lowerCamelName}Service.modify(dto);
    }

    /** 删除信息 */
    @ResponseBody
    @DeleteMapping
    public void delete(${name}DeleteDTO dto) {
    logger.info("删除信息");
    logger.debug("dto: {}", dto);
    ${lowerCamelName}Service.delete(dto);
    }

    }
